
@{
    ViewData["Title"] = Model.Title;
}
@model MovieDetailsModel

@section CustomStyles
{
    <link rel="stylesheet" href="~/css/autocomplete.css" />
}

@section JSONLdScripts
    {
    @if (Model != null)
    {
        <script type="application/ld+json">

            @Html.Raw(Model.JsonLdSchema)

        </script>
    }
}

<table class="table">
    <tr>
        <td>
            <h2>@Model.Title (@Model.Year)</h2>
        </td>
        <td>
            <span style="font-size: 24px; font-weight: bold">@Model.ImdbRating</span><small>/10</small>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Model.ParentalRating | @Model.Runtime | @Model.Genre | @Model.ReleaseDate (@Model.ReleaseCountry)
        </td>
    </tr>
    <tr>
        <td colspan="2">
            @Model.Plot
        </td>
    </tr>
</table>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-2">
            Look-up another movie:
        </div>
        <div class="col-md-10">
            <div class="movie-autocomplete"></div>
            @*<input type="text" class="form-control" />*@
        </div>
    </div>
</div>
